@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Battle Ship</h1>
    <p>Game!</p>
</div>

<div class="text-center">
    <a class="button" asp-area="" asp-controller="Home" asp-action="Game">START</a>
</div>